body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "BigSho";
  src: local("BigSho"),
    url("./assets/fonts/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Lex";
  src: local("Lex"),
    url("./assets/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf") format("truetype");
}


ul, nav{
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

a {
  text-decoration: none;
}

input{
  box-sizing: border-box;
}

img{
  box-sizing: border-box;
}